Xcursor.theme: Adwaita

xterm*termName: xterm-256color
xterm*faceName: Fira Code
xterm*faceSize: 10
xterm*background:  #303030
xterm*foreground:  White
xterm*scrollBar: false

URxvt*termName: rxvt-unicode-256colors
URxvt*font: xft:Terminus:pixelsize:11
URxvt*background: #303030
URxvt*foreground: White
